.idea
.vscode
.ipynb_checkpoints
__pycache__
*.idf
*.epw
*.zip
resources/*/
readvars.audit
temp
test_cases/verif_mtd_pp/idfs/
*.sbatch
dist/
*.html
!constrain/app/templates/ai_workflow_index.html
!constrain/app/templates/ai_workflow_landing.html
!constrain/app/templates/ai_workflow_verification.html
*.js
.buildinfo
.nojekyll
*.inv
docs/_modules
docs/_sources
docs/_static
docs/.doctrees
**.DS_Store
dev/
*.png
constrain/demo/api_demo/*.json
/*.json
/*.md
results
tests/api/data/verification_output/*.md
tests/outputs/*.csv
poetry.lock